<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--配置包扫描-->
    <context:component-scan base-package="com.atguigu.crowd.mvc"/>

    <!--配置视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!--配置拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <!--/*代表一层路径
            /**代表多层路径-->

            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/admin/login/ssm.html"/>
            <mvc:exclude-mapping path="/admin/exit/ssm.html"/>
            <mvc:exclude-mapping path="/admin/to/login/page.html"/>
            <mvc:exclude-mapping path="/admin/get24/ssm.html"/>

            <bean class="com.atguigu.crowd.mvc.interceptor.LoginInterceptor"/>

        </mvc:interceptor>
    </mvc:interceptors>


    <!--启动注解驱动-->
    <mvc:annotation-driven/>
    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <!-- exceptionMappings：配置哪些异常去哪些页面 -->
        <property name="exceptionMappings">
            <props>
                <!-- key：异常全类名；value：要去的页面视图名；会走视图解析 -->
                <prop key="java.lang.Exception">error</prop>
                <prop key="com.atguigu.crowd.exception.AccessForbiddenException">admin-login</prop>
            </props>
        </property>
        <!--指定错误信息取出时使用的key  -->
        <property name="exceptionAttribute" value="exception"/>
    </bean>
    <mvc:view-controller path="/admin/to/login/page.html" view-name="admin-login"/>
    <mvc:view-controller path="/admin/to/login/admin-main.html" view-name="admin-main"/>
    <mvc:view-controller path="/admin/page/save.html" view-name="admin-add"/>
    <mvc:view-controller path="role/search/to.html" view-name="role"/>
    <mvc:view-controller path="/menu/to/page.html" view-name="menu.page"/>




</beans>